@import '../../../../node_modules/normalize.css/normalize';

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
}

.operator-chat{
  &__wrapper{
    padding-left: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #f1f2f6;
  }
  &__chats-wrapper{
    flex: 25%;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 15px;
  }
  &__active-chat-wrapper{
    flex: 75%;
    border-left: 2px solid #f1f2f6;
  }
}

.chats-list{
  &__filter{
    height: 50px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 15px;
  }
  &__filter-item{
    border-radius: 20px;
    background-color: #ebebeb;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
  }
  &__filter-item-active{
    border-radius: 15px;
    color: #008069;
    background-color: #e8fae4;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    overflow: auto;
    max-height: calc(100vh - 120px);
  }
}

.chat-item{
  &__wrapper{
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 48% 48%;
    gap: 2% 15px;
    position: relative;
    height: 72px;
    padding: 10px 45px 10px 10px;
    background-color: #fff;
    box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
    cursor: pointer;  
    &:hover{
      background-color: #f5f6f6;
    }
  }
  &__avatar{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 100%;
    width: auto;
    border-radius: 50%;
  }
  &__username{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  &__last-message{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__time{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.active-chat{
  &__wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__list{
    flex-grow: 1;
    overflow: auto;
    max-height: calc(100vh - 200px);
  }
}

.chat-header{
  &__wrapper{
    background-color: #fff;
    display: flex;
    padding: 0 20px;
    height: 50px;
    align-items: center;
    gap: 10px;
  }
  &__user-avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  &__menu-btn{
    width: 15px;
    height: 30px;
    align-self: center;
    cursor: pointer;
    border-radius: 50%;
    background-color: inherit;
    transition: all .2s linear;
    justify-self: flex-end;
    margin-left: auto;
    &:hover{
      opacity: .5;
    }
  }
  &__menu-btn-svg{
    width: 100%;
    height: 100%;
  }
}

.chat-list{
  &__wrapper{
    min-height: 100%;
    background-color: #fff;
    border-top: 2px solid #f1f2f6;
    padding: 20px 10px 20px 50px;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__message{
    padding: 7px 40px 10px 5px;
    max-width: 500px;
    width: max-content;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
  }
  &__time{
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px; 
  }
  &__operator{
    align-self: flex-end;
    background-color: #d9fdd1;
  }
}

.bottom-form{
  &__wrapper{
    height: 80px;
    background-color: #f1f2f6;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
  }
  &__smiles,
  &__add-file,
  &__send-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  &__input{
    flex-grow: 1;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    outline: none;
    resize: none;
    height: 45px;
    padding: 5px 5px 5px 20px;
  }
}

.active-chat-menu{
  &__hide{
    display: none;
  }
  &__wrapper{
    position: absolute;
    right: 10px;
    top: 45px;
    box-shadow: 0 2px 5px 0 rgba(11,20,26, .26), 0 2px 10px 0 rgba(11,20,26, .16);
    background-color: #fff;
    z-index: 10;
    border-radius: 10px;
    padding: 10px 0;
  }
  &__list{
    display: flex;
    flex-direction: column;
  }
  &__item{
    cursor: pointer;
    width: 100%;
    padding: 10px 20px;
    &:hover{
      background-color: #f5f6f6;
    }
  }
}