@media (max-width: 1500px) {
  .main{
    &__container{
      display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 14% 85%;
    padding: 20px;
    gap: 50px 1%;
    }
  }
  .products{
    &__wrapper{
      padding-right: 0;
    }
  }
  .footer{
    &__wrapper{
      padding: 20px;
    }
  }
}

@media (max-width: 1150px) {
  .profile{
    &__wrapper{
      grid-template-rows: auto auto auto;
    }
    &__stat{
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }
    &__categories{
      grid-column: 1 / 4;
      grid-row: 3 / 4;
    }
  }
}

@media (max-width: 992px) {
  .header{
    &__nav{
      display: none;
    }
    &__burger{
      display: block;
    }
  }
  .main{
    &__container{
      gap: 50px 0;
      grid-template-columns: 15% 85%;
    }
    &__navigation{
      display: none;
    }
    &__field{
      grid-row: auto auto auto auto auto;
      grid-column: 1 / 3;
    }
    &__news{
      grid-column: 1 / 3;
    }
    &__companies{
      grid-column: 1 / 3;
      grid-row: 5 / 6;
    }
  }
  .main-profile{
    &__navigation{
      display: none;
    }
    &__field{
      grid-column: 1 / 3;
    } 
  }

  .banner{
    &__wrapper{
      grid-template-rows: auto auto auto auto;
    }
    &__titles{
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }
    &__buttons{
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
    &__img{
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      margin: 0;
    }
    &__sponsors{
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      justify-content: start;
    }
  }
  .companies{
    &__wrapper{
      margin: 0 auto;
      max-width: 50%;
      min-width: 200px;
    }
  }
  .reviews{
    &__list{
      gap: 6%;
    }
    &__item{
      width: 47%;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 768px) {
  .main{
    &__container{
      padding: 0;
    }
    &__container-main{
      padding: 10px;
    }
    &__field-wrapper,
    &__community,
    &__article,
    &__comments,
    &__reviews{
      padding: 0 20px;
    }
  }

  .comments{  
    &__wrapper{
      padding: 40px 50px;
    }
  }
  .banner{
    &__br{
      display: block;
    }
    &__wrapper{
      grid-template-rows: auto auto auto auto;
      padding: 16px;
      border-radius: 15px;
    }
    &__titles{
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }
    &__title{
      font-size: 40px;
      letter-spacing: -1px;
    }
    &__buttons{
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      justify-content: center;
    }
    &__img{
      grid-row: 3 / 4;
      grid-column: 1 / 3;
      padding: 0; 
      margin: 0 auto;
    }
    &__sponsors{
      grid-row: 4 / 5;
      grid-column: 1 / 3;
      justify-content: center;
    }
  }
  .profile{
    &__name{
      font-size: 20px;
    }
    &__text{
      flex-direction: column;
      gap: 5px;
    }
  }
  .reviews{
    &__list{
      gap: 0;
    }
    &__item{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .footer{
    &__wrapper{
      padding: 30px;
    }
    &__title{
      font-size: 20px;
    }
    &__lists{
      flex-wrap: wrap;
      gap: 15px;
      max-width: 100%;
    }
    &__list{
      width: 53%;
      margin: 0;
      font-size: 18px;
    }
    &__list-contacts{
      order: 1;
      gap: 15px;
      width: 100%;
      max-width: 380px;
      flex-direction: row;
      font-size: 17px;
    }
    &__list-login{
      order: 2;
    }
    &__list-second{
      order: 3;
    }
    &__list-third{
      order: 4;
    }
    &__information{
      max-width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .header{
    &__menu-mobile{
        top: 49px;
    }
    &__container{
      padding: 5px 10px ; 
    }
    &__icons{
      margin: 0 10px 0;     
    }
    &__icon{
      display: none;
    }
    &__icon-theme{
      display: block;
    }
    &__logo-img{
      width: 25px;
      height: 25px;
       margin-right: 10px; 
    }
    &__logo-title{
      font-size: 25px;
    }
    &__button{
      padding: 10px 14px;
      min-width: 100px;
      margin-left: 0;
    }
  }
  .profile{
    &__wrapper{
      gap: 15px;
      grid-template-rows: auto auto auto auto;
    }
    &__avatar{
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      margin: 0 auto;
    }
    &__info{
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      margin: 0 auto;
      text-align: center;
    }
    &__stat{
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      margin: 0 auto;
    }
    &__categories{
      grid-column: 1 / 4;
      grid-row: 4 / 5;
      justify-content: center;
    }
    &__online{
      justify-content: center;
    }
  }
  .banner{
    &__buttons{
      flex-direction: column;
      text-align: center;
    }
    &__sponsors{
      flex-direction: column;
      gap: 10px;  
    }
    &__img{
      width: 150px;
      height: 150px;
    }
    &__sponsor-link{
      width: 20px;
      height: 20px;
    }
  }
  .comments{
    &__wrapper{
      padding: 20px 20px;
    }
  }
  .news{
    &__top{
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
  }
  .footer{
    &__wrapper{
      padding: 20px;
    }
    &__list{
      width: 100%;
    }
    &__list-contacts{
      font-size: 13px;
    }
    &__list-item{
      gap: 5px;
    }
    &__img{
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 450px) {
  .banner{
    &__subtitle{
      font-size: 20px;
    }
  }
}

@media (max-width: 340px) {
  .header{
    &__button{
      min-width: 75px;
    }
    &__button-img{
      display: none;
    }
  }
  .profile{
    &__categories{
      max-width: 245px;
    }
  }
}